node_modules/
.next/
out/
venv/
backend/venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.sqlite3
*.err
*.out

backend/*.sqlite3
backend/*.sqlite
frontend/tsconfig.tsbuildinfo
